@use "@/styles/typography";

.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 0;
  overflow: hidden;

  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
