@use "@/styles/typography";

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;

  :global(.ant-form-item-label > label) {
    @include typography.text-sm;
    color: var(--gray-400);
  }

  :global(.ant-form-item-extra) {
    @include typography.text-xs;
    color: var(--gray-400);
    margin-top: 8px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
